.post{
    border-bottom: 1px solid var(--background-line-color);
    padding: 10px;
}

.post-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.post-header > h4{
    margin: 0;
    padding: 0 10px;
}

.post-header > h6{
    margin: 0;
    padding: 0 10px;
}

.post-body{

    
}

.post-body > p{
    margin: 0;
    padding:0;
    
}