.tweetInput{
    border-bottom: 1px solid var(--background-line-color);
    display: flex;
    flex-direction: column;
}

.input-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 10px 5px 10px;
    border-bottom: 1px solid var(--background-line-color);

}

.input{
    flex:1;
    border-style: none;
    margin: 0 10px;
}

.button-input{
    width: 80px;
    height: 30px;
    color: white;
    background-color: var(--background-color-tweeter);
    border-style: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-bottom: 5px;
}